{% extends "configuracion/base_configuracion.html" %} {% from "macros.html"
import selector %} {% block parametros %}

<div class="mb-3">
  {{ form.n_arboles.label }} {{ form.n_arboles(class_="form-control") }}
</div>
<div class="mb-3">
  {{ form.theta.label }}
  <div class="d-flex">
    {{ form.theta(class_="form-range w-75",
    oninput="actualizarBadgePorcentaje(this.value,'p_th_badge')",
    disabled=False) }}
    <span id="p_th_badge" class="badge bg-primary px-3 mx-auto">75%</span>
  </div>
</div>
<div class="title-mulish text-bold">
  {{ gettext("Decision Tree parameters") }}
</div>
<div class="parametros" id="parametros"></div>
{% endblock %} {% block form_scripts %}
<script>
  const div_parametros= document.querySelector('#parametros');

  const todos_parametros = {{ parametros|tojson }};
  // Para reutilizar codigo se pone "clasificador1" como nombre del select (aunque solo se usen arboles de decision)
  generarFormParametros("DecisionTreeClassifier", div_parametros, "clasificador1");
</script>
{% endblock %} {% block explicaciones %}
<p>
  {{ gettext('_Esta técnica se basa en la idea de utilizar múltiples
  clasificadores (árboles de decisión, en este caso), los cuales se entrenan de
  forma iterativa con un conjunto inicial de datos etiquetados. A medida que el
  algoritmo avanza, cada árbol intenta clasificar los datos no etiquetados y las
  predicciones más confiables se añaden al conjunto de entrenamiento como si
  fueran etiquetas reales. Este proceso de "enseñanza mutua" entre los
  clasificadores permite mejorar progresivamente el rendimiento del modelo a
  medida que se incorpora más información de los datos no etiquetados. Co-forest
  aprovecha la diversidad entre los árboles de decisión para mejorar la
  generalización del modelo frente a datos nuevos o desconocidos, haciéndolo
  especialmente útil en escenarios donde las etiquetas son escasas o costosas de
  obtener._')}}
</p>
{% endblock %} {% block pseudocodigo %}
<img
  src="{{ gettext('/pseudocodigos/en/CoForest.png') }}"
  width="75%"
  alt="{{ gettext('Co-Forest Pseudocode') }}"
/>
{% endblock %}
