{% extends "base.html" %} {% block title %}{{ gettext('Home') }}{% endblock %}
{% block content %}
<div class="p-3 pb-1 A text-white text-center">
  <h1 class="title-mulish text-bold">VASS</h1>
  <h4 class="title-mulish">
    {{ gettext('Semi-Supervised Algorithm Visualizer') }}
  </h4>
  <hr class="separacion w-8" />
</div>
<div class="A">
  <div class="d-flex justify-content-center align-items-center">
    <div id="card_inicial" class="accordion col-md-6 m-4">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel-teoria"
            aria-expanded="false"
            aria-controls="panel-teoria"
          >
            {{ gettext('A little bit of theory...') }}
          </button>
        </h2>
        <div id="panel-teoria" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="text-center">
              <h4 class="title-mulish">
                {{ gettext('A little bit of theory...') }}
              </h4>
              <hr class="separacion w-8" />
            </div>
            <div class="m-2 p-2">
              {{ gettext('<strong>Semi-supervised learning</strong> is the
              branch of machine learning that refers to the simultaneous use of
              data both <strong>labeled</strong> and
              <strong>unlabeled</strong> to perform learning tasks. It sits
              between supervised and unsupervised learning.<br /><br />Among all
              <strong>semi-supervised algorithms</strong>, the core of this
              project is based on <strong>inductive methods</strong>. Their idea
              is very simple: they try to create a classifier that predicts
              labels for new data. The proposed algorithms have this objective,
              albeit with a bit more specificity:
              <strong>wrapper methods</strong>. The well-known
              <strong>wrapper methods</strong> are based on
              <strong>pseudo-labeling</strong>, which is the process where
              classifiers trained with labeled data generate labels for the
              unlabeled ones. Once this process is completed, the classifier is
              retrained, incorporating these new labels.') }}
            </div>
            <div class="m-2 p-2">
              {{ gettext('In the following cards, four of the most
              representative algorithms of semi-supervised learning are
              presented: <strong>Self-Training</strong>,
              <strong>Co-Training</strong>, <strong>Tri-Training</strong> and
              <strong>Democratic Co-Learning</strong>. <br /><br />
              Internally, each algorithm utilizes one or several classifiers
              (wrapper methods). Additionally, the number of views on the data
              is distinguished (a view being the subset of attributes of the
              dataset that the algorithm uses to learn the model). Unlike
              <strong>Single-view</strong>, a
              <strong>Multi-view</strong> algorithm views the dataset attributes
              as multiple subsets. For example, in the Co-Training algorithm,
              the first classifier might only "see" half of the attributes while
              the second one sees the other half. Each of them will work with
              its specific subset of attributes.') }}
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panel-objetivo"
            aria-expanded="false"
            aria-controls="panel-objetivo"
          >
            {{ gettext('Objective') }}
          </button>
        </h2>
        <div id="panel-objetivo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="text-center">
              <h4 class="title-mulish">{{ gettext('Objective') }}</h4>
              <hr class="separacion w-8" />
            </div>
            <div class="m-2 p-2">
              {{ gettext('The aim of this tool is to facilitate, through
              visualizations, the understanding of how the main semi-supervised
              algorithms actually work when combined with theoretical concepts.
              <br /><br />By selecting any of the algorithms, you will be
              redirected to load the dataset. Subsequently, you can configure
              the algorithm with the desired parameters and finally obtain a
              visualization of the training process.') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dos-colores container-fluid text-center">
  <div class="row justify-content-center">
    <!-- Card 1 -->
    <div class="card m-2 shadow" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="/grafos.png" class="img-fluid rounded-start" alt="Graphs" />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title title-mulish text-bold">
              {{ gettext('Graphs') }}
            </h5>
            <p class="card-text">
              {{ gettext('Construct similarity graphs to represent sample
              similarities, then use these graphs to propagate labels from
              labeled to unlabeled data.') }}
            </p>
            <a
              href="/seleccionar/graphs"
              class="btn btn-primary stretched-link"
            >
              {{ gettext('Select') }}
            </a>
            <a
              href="https://arxiv.org/abs/2102.13303"
              class="btn btn-secondary stretched-link"
              style="position: relative; z-index: 1"
              target="_blank"
            >
              <i class="bi bi-file-earmark-text"></i> {{ gettext('Paper') }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card m-2 shadow" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="/Co-Forest.png"
            class="img-fluid rounded-start"
            alt="Co-Forest"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title title-mulish text-bold">Co-Forest</h5>
            <p class="card-text">
              {{ gettext('Ensemble that uses multiple decision trees to
              iteratively add confident predictions to the training set,
              enhancing mutual learning.') }}
            </p>

            <a
              href="/seleccionar/coforest"
              class="btn btn-primary stretched-link"
              >{{ gettext('Select') }}</a
            >
            <a
              href="https://ieeexplore.ieee.org/document/4342802"
              class="btn btn-secondary stretched-link"
              style="position: relative; z-index: 1"
              target="_blank"
            >
              <i class="bi bi-file-earmark-text"></i> {{ gettext('Paper') }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card m-2 shadow" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="/SelfTraining.png"
            class="img-fluid rounded-start"
            alt="Self-Training"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title title-mulish text-bold">
              {{ gettext('Self-Training') }}
            </h5>
            <p class="card-text">
              {{ gettext('Uses a base classifier initially trained with labeled
              data and iteratively retrains with pseudo-labeled data until a
              stopping criterion is met.') }}
            </p>
            <a
              href="/seleccionar/selftraining"
              class="btn btn-primary stretched-link"
              >{{ gettext('Select') }}</a
            >
            <a
              href="https://link.springer.com/article/10.1007/s10994-019-05855-6"
              class="btn btn-secondary stretched-link"
              style="position: relative; z-index: 1"
              target="_blank"
            >
              <i class="bi bi-file-earmark-text"></i> {{ gettext('Paper') }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="card m-2 shadow" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="/CoTraining.png"
            class="img-fluid rounded-start"
            alt="Co-Training"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title title-mulish text-bold">
              {{ gettext('Co-Training') }}
            </h5>
            <p class="card-text">
              {{ gettext('Uses multiple classifiers trained on different
              attribute subsets, iteratively predicting and selecting confident
              labels to build new training sets.') }}
            </p>
            <a
              href="/seleccionar/cotraining"
              class="btn btn-primary stretched-link"
              >{{ gettext('Select') }}</a
            >
            <a
              href="https://dl.acm.org/doi/10.1145/279943.279962"
              class="btn btn-secondary stretched-link"
              style="position: relative; z-index: 1"
              target="_blank"
            >
              <i class="bi bi-file-earmark-text"></i> {{ gettext('Paper') }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="card m-2 shadow" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="/TriTraining.png"
            class="img-fluid rounded-start"
            alt="Tri-Training"
          />
        </div>
        <div class="col-md-6 d-flex flex-column">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title title-mulish text-bold">
              {{ gettext('Tri-Training') }}
            </h5>
            <p class="card-text">
              {{ gettext('Uses three classifiers to pseudo-label data, requiring
              two of them to agree, and iterates (with new empty data) until no
              new labels are added.') }}
            </p>
            <div>
              <a
                href="/seleccionar/tritraining"
                class="btn btn-primary stretched-link"
                >{{ gettext('Select') }}</a
              >
              <a
                href="https://ieeexplore.ieee.org/document/1512038"
                class="btn btn-secondary stretched-link"
                style="position: relative; z-index: 1"
                target="_blank"
              >
                <i class="bi bi-file-earmark-text"></i> {{ gettext('Paper') }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="card m-2 shadow" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="/DemocraticCoLearning.png"
            class="img-fluid rounded-start"
            alt="Democratic Co-Learning"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title title-mulish text-bold">
              {{ gettext('Democratic Co-Learning') }}
            </h5>
            <p class="card-text">
              {{ gettext('Uses multiple classifiers to pseudo-label data by
              majority vote, retraining misclassified instances until accuracy
              stops improving.') }}
            </p>
            <a
              href="/seleccionar/democraticcolearning"
              class="btn btn-primary stretched-link"
              >{{ gettext('Select') }}</a
            >
            <a
              href="https://ieeexplore.ieee.org/document/1374241"
              class="btn btn-secondary stretched-link"
              style="position: relative; z-index: 1"
              target="_blank"
            >
              <i class="bi bi-file-earmark-text"></i> {{ gettext('Paper') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<script>
  document.addEventListener('DOMContentLoaded', function () {
      let steps = [{
              title: "{{ gettext('Welcome') }}",
              intro: "{{ gettext('Welcome to VASS! This is a basic tutorial.') }}"
          },
          {
              element: '#card_inicial',
              intro: "{{ gettext("Here's a quick rundown of some theoretical concepts and what the app aims to do.") }}"
          },
          {
              element: '.card',
              intro: "{{ gettext("By selecting any of these algorithms, you'll be able to upload a dataset to work with.") }}"
          },
          {
              element: '#selectores_algoritmo',
              intro: "{{ gettext("Likewise, you can select any algorithm using these selectors.") }}"
          },
          {
              element: '#inicio_tutorial',
              intro: "{{ gettext("On every page of the application, you'll always find a basic tutorial by clicking on this button.") }}"
          },
          {
              element: '#link_manual',
              intro: "{{ gettext("At any time, you can refer to the application's guide by clicking on this button.") }}"
          },
          {
              element: '#selector_idioma',
              intro: "{{ gettext("You can also choose the desired language.") }}"
          }
      ];

      if (document.getElementById('inicio_sesion')) {
          steps.push({
              element: '#inicio_sesion',
              position: 'left',
              intro: "{{ gettext("You can log in or register in the application. This will allow you to store datasets and even save executions.") }}"
          });
      } else {
          steps.push({
              element: '#nombre_usuario',
              intro: "{{ gettext("Here you can access the profile and personal space with datasets and executions.") }}"
          });
      }

      document.getElementById('inicio_tutorial').addEventListener('click', function () {
          this.style.animation = "none";
          introJs().setOptions({
              steps: steps,
              'nextLabel': "{{ gettext("Next") }}",
              'prevLabel': "{{ gettext("Previous") }}",
              'doneLabel': "{{ gettext("Done") }}",
          }).start();
      });
  });
</script>
{% endblock %}
