* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  padding: 20px;
}

#configuracion-algoritmo {
  flex: 1;
  padding: 20px;
}

#resultado-principal,
#graficas-evaluacion {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  height: 300px; /* Ajustar según necesidad */
}

#resultado-principal {
  flex: 3;
}

aside {
  flex: 1;
  padding: 20px;
}

input[type="text"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

button,
select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

#tipo-evaluacion {
  display: block;
}
