<style>
  .step {
    display: none;
  }
  .active {
    display: block;
  }
</style>
<div id="step-0" class="step active">
  <h3>{{gettext('Step')}} 0: {{gettext('Initial Data')}}</h3>
  <p>
    {{ gettext('The graph is initialized with the set of nodes (one for each
    entry in the dataset). The matrix of distances is calculated taking into
    account Euclidean distance.') }}
  </p>
  <img
    src="{{ gettext('/pseudocodigos/en/gbili/gbili_0.png') }}"
    width="100%"
    alt="GBILI Paso 0"
  />
</div>
<div id="step-1" class="step">
  <h3>{{gettext('Step')}} 1: {{gettext('K nearest neighbors')}}</h3>
  <p>
    {{gettext('In this step, the K nearest neighbors of each node are calculated
    taking into account the distance matrix D.')}}
  </p>
  <img
    src="{{ gettext('/pseudocodigos/en/gbili/gbili_1.png') }}"
    width="100%"
    alt="GBILI Paso 1"
  />
</div>
<div id="step-2" class="step">
  <h3>{{gettext('Step')}} 2: {{gettext('Mutual K nearest neighbors')}}</h3>
  <p>
    {{gettext('Mutual nearest neighbors are shown, i.e., i is j`s nearest
    neighbor and j is i`s nearest neighbor.')}}
  </p>
  <img
    src="{{ gettext('/pseudocodigos/en/gbili/gbili_2.png') }}"
    width="100%"
    alt="GBILI Paso 2"
  />
</div>
<div id="step-3" class="step">
  <h3>{{gettext('Step')}} 3: {{gettext('Minimum distances')}}</h3>
  <p>
    {{gettext('The list of mutual neighbors is traversed and the minimum
    distance in mutuals neighborhood to a labeled point is calculated.')}}
  </p>
  <img
    src="{{ gettext('/pseudocodigos/en/gbili/gbili_3.png') }}"
    width="100%"
    alt="GBILI Paso 3"
  />
</div>
<div id="step-4" class="step">
  <h3>{{gettext('Step')}} 4: {{gettext('Final graph')}}</h3>
  <p>
    {{gettext('Subnetworks or components are distinguished. Nodes will be joined
    if the component of the node has no labeled data and if any of its neighbors
    is in a labeled component.')}}
  </p>
  <img
    src="{{ gettext('/pseudocodigos/en/gbili/gbili_4.png') }}"
    width="100%"
    alt="GBILI Paso 4"
  />
</div>
