<style>
  .step {
      display: none;
  }
  .active {
      display: block;
  }
</style>
<div id="step-0" class="step active">
  <h2>{{gettext('Step')}} 0: {{gettext('Initial Data')}}</h2>
  <p> </p>
  <img
      src="{{ gettext('/pseudocodigos/en/rgcli/rgcli_0.png') }}"
      width="75%"
      alt="RGCLI Paso 0"
  />
</div>
<div id="step-1" class="step">
  <h2>{{gettext('Step')}} 1: {{gettext('Ke nearest neighbors')}}</h2>
  <p></p>
  <img
      src="{{ gettext('/pseudocodigos/en/rgcli/rgcli_1.png') }}"
      width="75%"
      alt="RGCLI Paso 1"
  />
</div>
<div id="step-2" class="step">
  <h2>{{gettext('Step')}} 2: {{gettext('Final graph')}}</h2>
  <p></p>
  <img
      src="{{ gettext('/pseudocodigos/en/rgcli/rgcli_2.png') }}"
      width="75%"
      alt="RGCLI Paso 2"
  />
</div>


