<style>
  .step {
    display: none;
  }
  .active {
    display: block;
  }
</style>
<div id="step-0" class="step active">
  <h3>{{gettext('Step')}} 0: {{gettext('Initial Data')}}</h2>
  <p>{{gettext('In this step, the algorithm is initialized, creating the necessary structures to store data such as nodes, links, kdtree, etc.')}}</p>
  <img
    src="{{ gettext('/pseudocodigos/en/rgcli/rgcli_0.png') }}"
    width="100%"
    alt="RGCLI Paso 0"
  />
</div>
<div id="step-1" class="step">
  <h3>{{gettext('Step')}} 1: {{gettext('Ke nearest neighbors')}}</h2>
  <p>{{gettext('This method is used to calculate the Ke nearest neighbors using a kdtree and other lists to be used later.')}}</p>
  <img
    src="{{ gettext('/pseudocodigos/en/rgcli/rgcli_1.png') }}"
    width="100%"
    alt="RGCLI Paso 1"
  />
</div>
<div id="step-2" class="step">
  <h3>{{gettext('Step')}} 2: {{gettext('Final graph')}}</h2>
  <p>{{gettext('This method is used to calculate the ki neighbors of each node that have the smallest distance to labeled points. For this purpose, the previously calculated list is traversed.')}}</p>
  <img
    src="{{ gettext('/pseudocodigos/en/rgcli/rgcli_2.png') }}"
    width="100%"
    alt="RGCLI Paso 2"
  />
</div>
